<% provide(:title, "Mis datos") %>
<div class="jumbotron fixed-top">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-edit" aria-hidden="true" style="margin-right: 10px"></span>My Personal Data</h3>
    </div>

    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Name", style: "margin-top: 10px;" %>
      </div>

      <div class="field">
        <%= f.text_field :surname, placeholder: "Surname", style: "margin-top: 10px;"%>
      </div>

      <div class="field", style="margin-bottom: 10px;">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", style: "margin-top: 10px;" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <i>(Leave this field blank if you do not want to change the password)</i><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password"%>
      </div>

      <div class="field", style="margin-bottom: 10px;">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password", style: "margin-top: 10px;" %>
      </div>

      <div class="field">
        <i>(Enter your current password to confirm changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password", required: true %>
      </div>


      <div class="actions">
        <%= f.submit "Save Changes", :class => "btn-primary btn", style: "margin-top: 10px;" %>
      </div>
      <% end %>

    </div>
  </div> <!-- End of first panel-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-trash" aria-hidden="true" style="margin-right: 10px"></span>Delete my account</h3>
    </div>
    <div class="panel-body">
      <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn-danger btn" %></p>
    </div>
  </div> <!-- End ofsecond panel -->
</div> <!-- End of jumbotron -->

